body {
  margin: 0;
  font-family: "Roboto", sans-serif, Helvetica;
  font-weight: 400;
  font-size: 1.1rem;
  color: rgb(238, 164, 80);
  background: linear-gradient(270deg, rgb(42, 42, 42), rgb(64, 64, 64));
}

header {
  position: sticky;
  top: 0;
  background: linear-gradient(45deg, rgb(28, 28, 28), rgb(42, 42, 42));
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
}

main {
  background: linear-gradient(270deg, rgb(42, 42, 42), rgb(64, 64, 64));
}

footer {
  background: linear-gradient(45deg, rgb(28, 28, 28), rgb(42, 42, 42));
}

/* nav {
   background-color: orange;
} */

h1,
h2,
h3,
h4,
h5,
p,
a,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(238, 164, 80);
  transition: all 0.2 ease-in-out;
}

nav a:hover {
  color: rgb(228, 163, 44);
  transition: 0.2s ease-in-out;
}

.logo a {
  font-size: 2.5rem;
  font-weight: 900;
}

nav ul {
  display: flex;
  flex-flow: row nowrap;
  gap: 1.25rem;
}

h1 {
  text-align: center;
  padding: 25px 0;
  font-size: 2rem;
  font-weight: 600;
}

#side-drawer {
  display: none;
}

.menu {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.menu__food-item {
  overflow: hidden;
  background-color: rgb(228, 206, 182);
  border-radius: 6px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
  flex: 1;
  text-align: center;
  padding-bottom: 15px;
}

.menu__food-item img {
  width: 100%;
  aspect-ratio: calc(2 / 1.25);
  object-fit: cover;
}

.menu__food-item h2 {
  color: rgb(28, 28, 28);
  padding: 15px 0;
}

.menu__food-item a {
  color: white;
  padding: 10px 28px;
  border-radius: 6px;
  background-color: rgb(228, 157, 44);
  transition: all 0.2 ease-in-out;
}

.menu__food-item a:hover {
  background-color: rgb(221, 134, 34);
  transition: all 0.2 ease-in-out;
}

footer {
  position: static;
  bottom: 0;
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 1.5rem 0;
}

.footer__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.footer__socials img {
  width: 60px;
  aspect-ratio: 1;
}

.footer__list-item {
  margin-bottom: 15px;
}
.footer__list-item a {
  color: white;
}

/* Alle Anpassungen für die mobile View */

@media (max-width: 48rem) {
  .logo {
    font-size: 2rem;
  }

  nav .nav__list {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .hamburger-menu a {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
    width: 2.5rem;
    height: 1.5rem;
  }

  .hamburger-menu span {
    width: 100%;
    height: 3px;
    background-color: white;
  }

  #side-drawer {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgb(28, 28, 28), rgb(42, 42, 42));
  }

  #side-drawer header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 4.25rem;
  }

  #side-drawer:target {
    display: block;
  }

  aside ul {
    display: flex;
    flex-flow: column;
    text-align: center;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 6rem 2rem 3rem 2rem;
    /* height: 100%; */
  }

  aside a {
    color: white;
    font-size: 2rem;
  }

  h1 {
    font-size: 1.5rem;
    padding: 10px 10%;
  }

  h2 {
    font-size: 1.25rem;
    padding-inline: 10px;
  }

  .menu ul {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;
  }

  footer {
    padding-inline: 10px;
  }

  .footer__socials img {
    width: 40px;
  }

  footer {
    z-index: -1;
  }
}
